html,
body {
  height: 100%;
  font-size: 12px;
  @mixin font-family primary;
  color: red;
}

$light-text: rgba(255,255,255,0.87);
$light-text-level-2: whitesmoke;

$primary-color: #00b3ea;
$primary-color-dark: #087da2;
