.o-app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background: #1d1d1b;
  padding: 20px;
  box-sizing: border-box;
}

.o-container {
  max-width: 1200px;
  margin: 0 auto;
}

.o-company {
  text-align: center;

  .a-img {
    max-width: 150px;
  }

  .m-company {
    margin-bottom: 10px;
  }
}
