.a-btn {
  display: inline-block;
  background: get-color();
  color: get-color(text, primary);
  line-height: 1;
  font-weight: bold;
  padding: 1rem 2rem;
  border: 0;
  text-align: center;
  transition: background 0.2s ease;
  cursor: pointer;

  &.primary {
    background: get-color();
  }

  &:hover {
    background: get-color(primary, dark);
  }
}
