.a-headline {
  @mixin font-sizing xl;
}

.a-title {
  @mixin font-sizing lg;
  @mixin font-family primary, semibold;
}

.a-body {
  @mixin font-sizing normal;
}

.a-body-2 {
  @mixin font-sizing normal;
  @mixin font-family primary, bold;
}

.a-caption {
  @mixin font-sizing sm;
}
